//colours

// blue

$g-color-blue-700: #3d4a5c;
$g-color-blue-500: #697b94;
$g-color-blue-300: #4a9bff;

// grey

$g-color-grey-600: #9ba6b3;
$g-color-grey-400: #9eaab8;
$g-color-grey-100: #aebbc2;


// themes

$g-color-primary: $g-color-grey-600;
$g-color-secondary: $g-color-grey-400;









$g-font-size: 16;

$to-rem-font-size: $g-font-size;

