
.l-container {
    max-width: rem(1024);
    min-width:rem(768);
    margin:0 auto
}

.l-container__wide {
    max-width: rem(1100);
}

.l-container__narrow {
    max-width: rem(800);
}

.l-container__mid {
    max-width: rem(1000);
}

.l-container__x-narrow {
    max-width: rem(600);
}

.l-container__xx-narrow {
    max-width: rem(300);
}
