.c-header-background {
    background-color: #fff;
    height:rem(90);
}

.c-prototype-background {
    background-color: #9eaab8;
    background: linear-gradient(155deg, #9eaab8 0%,#9eaab8 50%,#9ba6b3 50%,#9ba6b3 100%);
}

.c-quote-background {
    background-color: #f5f7fa;

}

.c-signup-background {
    background-color: #697b94;
}

.c-footer-background {
    background-color:#3d4a5c;
}


// border radius color - #9aa5b3 for build it, learn from it, measure it