.c-header-background {
    background-color: #fff;
}

.c-prototype-background {
    background-color: #9eaab8;
}

.c-quote-background {
    background-color: #f5f7fa;

}

.c-signup-background {
    background-color: #697b94;
}

.c-footer-background {
    background-color:#3d4a5c;
}


// border radius color - #9aa5b3 for build it, learn from it, measure it