.c-logo {
    align-items: center;
    display: flex;
    text-align: center;


}


.c-logo__text {
    color: #79889c;
    font-size: rem(16);
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin-left: rem(16);
    vertical-align: middle;


}

.c-logo--image {
    height: rem(34);
}
