.c-prototype {
    color: #fff;
    padding-bottom: rem(80);
    padding-top: rem(160);
    text-align: center;
    line-height: 2;

}

.c-prototype__paragraph {


}

.c-prototype__image {
    display: block;
    margin: 0 auto;
    width:50%;

}





