.c-quote {
    background-color: #f5f7fa;
}

.c-quote__info--box {
    margin-left: rem(115);
    margin-right: rem(115);
    padding-bottom: rem(34);
    padding-top: rem(34);
    display:flex;

}

.c-quote__image {
    background-color: #ebedf0;
    border-radius: rem(120);
    height: rem(220);
    width: auto;





}

.c-quote__info {
    font-size: rem(18);
    padding-top: rem(34);
    padding-left: rem(100);
    text-align:left;
    color: #8596ab;


}

.c-quote__info--nametag {
    padding-top: rem(40);
    color:#aebbc2;

}

.c-quote__info--box-align {
    text-align: left;
}
