.c-quote {
    background-color: #f5f7fa;
    display: flex;
    padding: rem(30) rem(130);
}

.c-quote__image-border {
    background-color: #ebedf0;
    border-radius: 50%;
    padding: rem(10);
    height: rem(200);
    width: rem(200);
}

.c-quote__image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.c-quote__info::before {
    content: open-quote;
    font-family:georgia,times,serif;
    font-size: rem(30);
    position: absolute;
}

.c-quote__info {
    font-size: rem(18);
    padding-top: rem(34);
    padding-left: rem(100);
    position:relative;
    text-align:left;
    color: #8596ab;


}

.c-quote__info--nametag {
    padding-top: rem(40);
    color:#aebbc2;

}

.c-quote__info--box-align {
    text-align: left;
}
