.c-signup--label {
    color:#fff;
    display: block;
}

.c-signup--input {
    background-color: #3d4a5c;
    border: none;
    color: #b0b3b8;
    cursor: pointer;
    font-size: rem(16);
    padding: rem(20) rem(140) rem(20) rem(15);
    width: 100%;

}

.c-signup--select select {
    appearance: none;
    border-radius: 0;
    -webkit-appearance: none;
}



.c-signup--select {
    position: relative;

}

.c-signup--select::after {
    border-color: #697b94 transparent transparent transparent;
    border-style: solid;
    border-width: rem(7) rem(7) 0 rem(7);
    content: "";
    height: 0;
    left: 91.5%;
    position: absolute;
    top: 46%;
    // transform: translate(-50%);
    width: 0;
}

.c-signup--select::before {
    background-color: darken(#3d4a5c, 10%);
    content: "";
    height: rem(57.6);
    position: absolute;
    right: 0;
    top: 0;
    width: rem(50);
}


.c-button--create {

    appearance: none;
    background: #fff;
    border: 0;
    cursor: pointer;
    display: block;
    color: #697b94;
    font-size: rem(14);
    height: rem(60);
    width: 45%;
    margin: auto;

}


.c-checkbox__input {
    visibility: hidden;
}

.c-checkbox__label {
    color: #fff;
    display: block;
    font-size: rem(14);
    text-align: center;
    padding: rem(40);
    position: relative;
    padding-left: rem(25);
    text-indent: rem(50);
}

// ::before is the fake checkbox

.c-checkbox__label::before {
    content: '';
    background-color: #3d4a5c;
    height: rem(25);
    width: rem(25);
    display: inline-block;
    position: absolute;
    left: 24%;
    top: 38%;

}

// .c-checkbox__input ::after {
//     display: none;
//     content: '';
//     width: rem(10);
//     height: rem(20);
//     border: solid #000;
//     border-width: 0 8px 8px 0;
//     transform: rotate(45deg);
// }

.c-checkbox__input:checked + .c-checkbox__label::before {

}
